
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    {
        <div class="row" style="padding: 90px 0px">
            <div class="col-md-4 offset-md-4" style="padding: 0px 30px 0px 30px; border: 1px solid black;">
                <form>
                    <div style="text-align:center; padding-top:15px">
                        <h3><i class="fa fa-user-circle-o" style="font-size:48px;"></i> &ensp;ĐĂNG NHẬP</h3>
                        <p>Vui lòng nhập thông tin đăng nhập</p>
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Tên đăng nhập</label>
                        <input type="text" class="form-control" name="TenDangNhap" placeholder="Tên đăng nhập.....">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Mật khẩu</label>
                        <input type="password" class="form-control" name="MatKhau">
                    </div>
                    <div class="mb-3" style="text-align:center;padding-top:50px">
                        <button type="submit" class="btn btn-primary"><span class="fa fa-share-square-o" style="font-size:18px;"></span>&ensp;Đăng nhập</button>
                    </div>
                </form>
            </div>
        </div>
    }
}