@{
    ViewBag.Title = "ThamGiaDuAnTheoND";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<ThucTap_DuAnTeam_PhamThiVi.Models.DUANTHAMGIA>
@{
    ThucTap_DuAnTeam_PhamThiVi.Models.TASK_THUCTAPEntities db = new ThucTap_DuAnTeam_PhamThiVi.Models.TASK_THUCTAPEntities();
}
<div class="row" style="padding-top:50px;">
    <div class="row justify-content-center">
        @foreach (var item in Model)
        {
            <div class="col-3 offset-md-1">
                <div class="canBangGiua">
                    <img src="@item.DUAN.HinhAnh" class="canHinhGiua" />
                </div>
                <div class="tenDuAn">
                    <h4><a href="@Url.Action("tienDoCongViec", "TienDoCongViec", new { MaDuAn = item.DUAN.idDuAn })">@item.DUAN.TenDuAn</a></h4>
                </div>

            </div>
        }
    </div>
</div>